<!DOCTYPE html>
<html lang="en">

<body>
<b>HELLO {{ user.name }} WELCOME TO GO CASHLESS BANK </b>
<br>
        <style>
body {background-color: grey;}
h1   {color: green;}
p    {color: black;}
</style>
your account balance is {{ user.balance }}
<br>
<span><a href="/login/"><button type = "button">logout</button></a></span>

<br>
<b> transaction </b>
<br>
<span><a href="/credit/?user_id={{ user.id }}"><button type="button">CREDIT</button></a></span>
<br>
<span><a href="/debit/?user_id={{ user.id }}"><button type="button">DEBIT</button></a></span>
<br>
<span><a href="/Account_statement/?user_id={{ user.id }}"><button type="button">Account Statement</button></a></span>
<br>
<span><a href="/transfer/?user_id={{ user.id }}"><button type="button">TRANSFER</button></a></span>
</body>
</html>